
body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow: hidden;
}
img{
    max-width: 150px;
}
.titlecontainer{
    display: flex;
    margin-left:50px;
    justify-content: space-between;
    align-items: center;
}
.titlecontainer p{
    padding-right:40px;
    font-size: 12px;
}
button{
    align-self: center;
    padding:10px;
    margin-left:10px;
    border-radius:5px;
    background-color: rgb(65, 65, 217);
    color:black;
    font-size: large;
    font-weight: 1000;
}
button:hover{
    cursor:pointer;
    background-color: black;
    color:white;
}
main{
    display: flex;
    justify-content: space-between;
}
main #fullpic{
    display: none;
    align-self: center;
}
#outercontainer{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    max-width:600px;
    max-height:600px;
    margin-left:50px;
}
#gridcontainer{
    display: flex;
    flex-wrap: wrap;
    max-width:600px;
    max-height:600px;
    margin-right:30px;
    margin-bottom:20px;
}

